%html
  %head
    %meta{:charset => 'utf-8'}/
    %meta{:content => 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}/
    %meta{:content => 'width=device-width, initial-scale=1', :name => 'viewport'}/
    %title Insta Followers | List

    %link{:rel => :stylesheet, :type => :"text/css", :href => 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css'}
    %link{:rel => :stylesheet, :type => :"text/css", :href => 'assets/app.css'}
    %script{:src => 'https://use.fontawesome.com/38e56cc775.js'}
  %body
    %nav.nav-wrapper
      %a.brand-logo{:href => '/list'}
        %i.fa.fa-home.medium
      %ul#nav-mobile.right.hide-on-med-and-down
        %li
          %img.user-picture{:src => @user.profile_picture, :alt => @user.username}
        %li
          %a{:href => '/logout'} Logout
    .container
      %h3 Users

      %form{:id => 'unfollow-form', :method => 'post', :action => '/unfollow' }
        %table.table.striped.centered.responsive-table.list-table
          %tr
            %th Photo
            %th ID
            %th Username
            %th Unfollow

          - @not_followers.each do |user|
            %tr
              %td
                %img.profile-picture{:src => user.profile_picture}
              %td= user.id
              %td= user.username
              %td
                %input.filled-in{:type => 'checkbox', :id => user.id, :name => user.id, :value => 'true'}
                %label{:for => user.id}
        %div.right-align
          %button.btn-floating.btn-large.btn-unfollow.waves-effect.waves-light.red
            %i.fa.fa-times.medium

    %script{:src => 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js'}
    %script{:src => 'assets/app.js'}
