%html
  %head
    %meta{:charset => 'utf-8'}/
    %meta{:content => 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}/
    %meta{:content => 'width=device-width, initial-scale=1', :name => 'viewport'}/
    %title Insta Followers | Policy

    %link{:rel => :stylesheet, :type => :"text/css", :href => 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css'}
    %link{:rel => :stylesheet, :type => :"text/css", :href => 'assets/app.css'}
    %script{:src => 'https://use.fontawesome.com/38e56cc775.js'}
  %body
    %h1.center-align App Policy

    %script{:src => 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js'}
    %script{:src => 'assets/app.js'}
