//= require_tree .

body { background-color: aliceblue; }

nav { background-color: #3F729B; }

table { background-color: #fff; }

.policy { margin-left: 10px; }

.btn-instagram {
  background-color: #3F729B;
  padding: 0 1rem;
  margin-top: 25px; }

.btn-instagram:hover { background-color: #3F729B; }

.fa-instagram {
  border-right: 1px solid white;
  padding-right: 15px; }

.fa-home { margin: 3px 0 0 15px; }

table.centered tbody tr th { text-align: center; }

.list-table { border: 1px solid #c5ccdf; }

.user-picture {
  height: 45px;
  border-radius: 50%;
  margin: 10px 15px 0 15px; }

.profile-picture {
  border-radius: 50%;
  height: 75px; }

.btn-unfollow { margin-top: 15px; }
