//= require_tree .

body { background-color: #fff; }

nav { background-color: #3F729B; }

table { background-color: #fff; }

.light-blue.darken-3 { background-color: #3f729b !important; }

td { padding: 10px 5px; }

.policy { margin-left: 10px; }

.index {
  color: #3F729B;
  padding-top: 60px; }

.btn-instagram {
  background-color: #3F729B;
  padding: 0 1rem;
  margin: 25px 0 75px 0; }

.btn-instagram:hover { background-color: #3F729B; }

.fa-instagram {
  border-right: 1px solid white;
  padding-right: 15px; }

.fa-home { margin: 3px 0 0 15px; }

table.centered tbody tr th { text-align: center; }

.list-section{ margin: 40px 0 70px 0; }

.list-table { border: 1px solid #d0d0d0; }

.user-picture {
  height: 45px;
  border-radius: 50%;
  margin: 10px 15px 0 15px; }

.profile-picture {
  border-radius: 50%;
  height: 55px; }

.btn-unfollow { margin-top: 15px; }

.footer-link { color: #d4dfe7; }
